@import "../variables";
@import "../mixins";

.container {
  overflow-x: hidden !important;
  margin: 0 auto;
}

.about-content {
  padding-top: 120px;

  h1 {
    font-size: 50px;
    text-align: left;
    font-weight: 900;
    padding-left: 50px;
    padding-bottom: 15px;
    opacity: 90%;
  }
  h4 {
    text-align: left;
    font-weight: bold;
    color: $third-color;
    padding-left: 50px;
    padding-bottom: 20px;
  }

  p {
    width: 500px;
    text-align: justify;
    padding-left: 50px;
    line-height: 2;
    font-size: 18px;
  }
  
  ul {
    padding-left: 70px;
    list-style: square;
    color: $third-color;
    font-size: 20px;
    font-weight: bold;
  }
}



.picture-border {
  border: 5px solid $third-color;
  background-color: $third-color;
  border-radius: 10px;
  width: 380px;
  padding: 0;
  margin-left: 100px;
  box-shadow: 2px 2px 10px $third-color;

  img {
    overflow: hidden;
    border-radius: 5px;
    filter: grayscale(50%) saturate(0.25) opacity(1) brightness(65%) contrast(100%) hue-rotate(253deg);
      -webkit-filter: grayscale(50%) saturate(0.25) opacity(1) brightness(65%) contrast(100%) hue-rotate(253deg);
    @include transition;
  
    &:hover {
    filter: none;
    }
  }
}


@include media(S) {
  .about-content {
    padding: 5px;
    margin-top: 25px;

    h1 {
      font-size: 35px;
    }

    h1, h4, p, ul {
      padding: 0;
      max-width: 100%;
    }

    ul {
      list-style: none;
    }
    
  }

  .picture-border {
    margin: 0 auto;
    max-width: 80%;
  }
}
