@import "../mixins";
@import "../variables";


.hero section {
  background-image: url(../images/header-background.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  height: 90vh;
  width: 100%;
  

  .name {
    margin: 100px;
    width: 100%;

    h1 {
      font-size: 70px;
      padding: 15px;
      padding-left: 0;
    }

    h2 {
      font-size: 20px;
    }

  }

.contact-link {
  @include button;
  @include transition;
  background-color: $main-color;
  color: $third-color;
  margin: 50px 80px;
  margin-left: 100px;
  padding: 15px 50px;
}
.contact-link:hover {
  background-color: $third-color;
  color: $main-color;
}

.my-work-link {
  @include button;
  @include transition;
  text-align: center;
  font-size: 20px;
  margin-top: 200px;
  padding: 15px 50px;
  color: $third-color;
  max-width: 200px;
}

.my-work-link:hover {
  border: 3px solid $third-color;
  color: $third-color;
}
}


@include media(M) {

  .hero section {
    height: 70vh;
  }
  .my-work-link {
    display: none;
  }
}

@include media(S) {

  .hero {
    width: 100%;
    
    
  }

  .hero section {
    width: 50%;
    height: 50vh;
    margin-right: 0;
    background-image: none;
    
    

    .name {
    margin: 30px;
    
      h1 {
        font-size: 40px;
      }
  
      h2 {
        font-size: 15px;
      }

      h3 {
        font-size: 18px;
      }
  }

    .contact-link {
      display: inline-block;
      font-size: 15px;
      padding: 10px;
      max-width: 120px;
      margin: 30px 0 0 30px;
    }
  }

  
}