@import "../variables";
@import "../mixins";

.more-projects {
    @include button;
   display: block;
   width: 50%;
   text-align: center;
   color: $third-color;
   margin: 50px auto;
   border: 2px solid $third-color;
   border-style: double none;

   &:hover {
       color: $main-color;
       background-color: $third-color;
   }
}